<ol class="breadcrumb">
    <li><a href="{{ app.path_prefix }}{{ path('tree', {repo: repo, commitishPath: branch}) }}">{{ repo }}</a></li>
    {% for breadcrumb in breadcrumbs %}
        <li{% if loop.last %} class="active"{% endif %}>{% if not loop.last %}<a href="{{ app.path_prefix }}{{ path('tree', {repo: repo, commitishPath: branch ~ '/' ~ breadcrumb.path}) }}">{{ breadcrumb.dir }}</a>{% endif %}{% if loop.last %}{{ breadcrumb.dir }}{% endif %}</li>
    {% endfor %}

    {% block extra %}{% endblock %}
</ol>
